@import (reference) "main";

@header-mobile-height: 60px;
@header-height: 50px;
@header-margin: 0 25px;


.header {
    background-color: @header-color;
    height: @header-height;
    line-height: @header-height;
    font-size: 20px;

    div {
        display: inline-block;
    }

    .logo{
        margin: @header-margin;
    }

    .right-area {
        float: right;
        margin: @header-margin;

        .navbar {
            vertical-align: top;
            .active {
                text-decoration: underline;
            }
            a {
                margin-right: 25px;
            }
        }

        .hamburger {
            font-size: 30px;
        }
    }

    .mobile-view ({
        height: @header-mobile-height;

        .logo {
            line-height: @header-mobile-height;
        }
        .navbar {
            display: none;
        }
    });

    .tablet-view ({
        .navbar {
            display: none;
        }
    });

    .tablet-landscape-view ({
        .navbar {
            display: none;
        }
    });

}