@import (reference) "main";

@header-mobile-height: 60px;
@header-height: 50px;


.header {
    background-color: @header-color;
    height: @header-height;
    line-height: @header-height;
    font-size: 20px;

    .logo{
        display: inline-block;
        margin: 0 25px;
    }

    .mobile-view ({
        height: @header-mobile-height;
        .logo {
            line-height: @header-mobile-height;

        }
    });

}