@import "colors";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700');

body {
    margin: 0;
    background-color: @body-color;
    color: @font-color;
    font-family: 'Lato', sans-serif;
}

.main-content {
    width: 100%;
}