.border-radius(@radius){
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    border-radius: @radius;
}

.mobile-view(@rules) {
    @media only screen and (max-width: 480px) {
        @rules();
    }
}

.tablet-view(@rules) {
    @media only screen and (min-width: 481px) and (max-width: 768px) {
        @rules();
    }
}